:root {
    --primary: #ff7c02;
    --bg: #010101;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}


.logo span {
    color: var(--primary);
}

.navbar a {
    color: rgb(255, 255, 255);
}

.navbar .collapse a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff7c02;
    transition: width .3s;
}

.navbar .collapse a:hover::after {
    width: 50%;
}

/* jumbotron section */
.jumbotron {
    height: auto;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    margin-top: 60px;

}

.jumbotron .content {
    padding: 1.8rem;
    max-width: 100%;
}

.jumbotron .content h1 {
    margin-top: 140px;
    font-size: 3.6rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 2);
    line-height: 1.2;
}

.jumbotron .content h1 span {
    color: rgb(8, 228, 114);
}

.jumbotron .content .cta {
    margin-top: 1.6rem;
    display: inline-block;
    padding: 0.6rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px var(--primary);
}

.jumbotron .content .cta:hover {
    background-color: #e3730a;
    box-shadow: 1px 1px 3px #e3730a;
}

.progress {
    margin-bottom: 20px;
}

.text-indent-25 {
    text-indent: 25px;
}

:root {
    --level-1: #8dccad;
    --level-1-1: #ccc88d;
    --level-1-2: #8db9cc;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
}

.rectanglee {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


/* LEVEL-1 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1);
}

.level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-1-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1-1);
}

.level-1-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
    background: var(--black);
}

.level-1-2 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1-2);
}

.level-1-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
    background: var(--black);
}


/* LEVEL-2 STYLES*/
.level-2-wrapperr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.level-2-wrapperr::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 26%;
    width: 50%;
    height: 2px;
    background: var(--black);
}

.level-2-wrapperr::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
}

.level-2-wrapperr li {
    position: relative;
}

.level-2-wrapperr>li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2 {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
}

.level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}


/* LEVEL-3 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-3-wrapperr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.level-3-wrapperr::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(28% - 8px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}

.level-3-wrapperr>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-3 {
    margin-bottom: 20px;
    background: var(--level-3);
}


/* LEVEL-4 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.level-4-wrapperr {
    position: relative;
    width: 80%;
    margin-left: auto;
}

.level-4-wrapperr::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
}

.level-4-wrapperr li+li {
    margin-top: 20px;
}

.level-4 {
    font-weight: normal;
    background: var(--level-4);
}

.level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 50px;
    height: 2px;
    background: var(--black);
}

.containerr ol img {
    height: 120px;
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 700px) {
    .jumbotron {
        margin-top: 1px;
    }


    .jumbotron .content h1 {
        margin-top: 0;
        font-size: 1.6rem;
    }

    .rectanglee {
        padding: 20px 10px;
    }

    .level-1,
    .level-1-1,
    .level-1-2,
    .level-2 {
        width: 100%;
    }

    .level-1,
    .level-1-1,
    .level-1-2 {
        margin-bottom: 20px;
    }

    .level-1::before,
    .level-1-1::before,
    .level-1-2::before,
    .level-2-wrapperr>li::before {
        display: none;
    }

    .level-2-wrapperr,
    .level-2-wrapperr::after,
    .level-2::after {
        display: block;
    }

    .level-2-wrapperr {
        width: 90%;
        margin-left: 10%;
    }

    .level-2-wrapperr::before {
        left: 10px;
        width: 2px;
        height: calc(100% + 40px);
    }

    .level-3-wrapperr::before {
        left: calc(30% - 10px);
        width: calc(50% + 10px);
    }

    .level-2-wrapperr>li:not(:first-child) {
        margin-top: 50px;
    }

    .containerr ol img {
        height: 100%;
        width: 100%;
    }
}